* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "futura";
  src: url("./fonts/futura/futur.ttf");
  font-family: "Cormorant Garamond";
  src: url("./fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

html {
  font-size: 10px;
}

body {
  max-width: 100vw;
  font-family: Cormorant Garamond;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
  color: #fff;
}

header {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(./images/HeroBG.png), lightgray 50% / cover no-repeat;
  padding-top: 2.4rem;
}

.header-container,
.content,
.features,
.services,
.find-us,
.contacts,
.footer-content,
.about-us {
  width: 80%;
  margin: 0 auto;
}

.top-hero {
  text-align: end;
  font-family: futura;
  margin-bottom: 4rem;
  margin-top: -5rem;
}

.top-icon {
  width: 20.2062rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

p {
  font-size: 1.8rem;
}

.top-nav {
  font-family: futura;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  list-style: none;
  max-width: 65rem;
  margin: 0 auto;
  margin-bottom: 5.4rem;
}

.top-nav li a {
  font-size: 2rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-decoration: unset;
  color: #fff;
  display: flex;
  text-align: center;
}

.tagline {
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.024rem;
  margin-bottom: 1.2rem;
}

.hero h1 {
  font-size: 10rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  max-width: 80rem;
  margin-bottom: 2.4rem;
}

.quote {
  font-size: 3.2rem;
  line-height: 3rem;
  letter-spacing: 0.032rem;
  padding-bottom: 14.4rem;
}

.main-content {
  background: url(./images/index-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding-bottom: 10.1rem;
}

.content h2 {
  max-width: 80rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.056rem;
  padding-top: 11rem;
  margin: 0 auto 8rem auto;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;
  margin-bottom: 8rem;
}

.content-box {
  max-width: 56rem;
  align-self: center;
}

.content-box img {
  width: 100%;
  height: auto;
}

.number {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.2rem;
  display: flex;
  width: 4.8rem;
  padding: 0.4rem 0rem 1.2rem 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.8rem;
  border: 1px solid #ffca49;
  margin-bottom: 1.8rem;
}

.content-box h3 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 3.4rem;
}

.content-box p {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.36rem;
  letter-spacing: 0.028rem;
}

span a {
  color: #ffca49;
  text-align: center;
  text-decoration-line: underline;
}

.content h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
  max-width: 107rem;
  text-align: center;
  margin: 0 auto;
}

.content-box h3 {
  text-align: left;
  margin-bottom: 1.2rem;
}

.features-content {
  background: #d9962d;
  padding-bottom: 8rem;
}

.features {
  margin: auto;
}

.features h2 {
  text-align: center;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 4.8rem;
  padding-top: 8rem;
  padding-bottom: 2.4rem;
  margin: 0 auto;
}

.features p {
  text-align: center;
  font-size: 2.8rem;
  line-height: 3.36rem;
  letter-spacing: 0.015rem;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.features a {
  text-align: center;
  font-family: Futura;
  font-size: 2rem;
  line-height: 2rem;
  background-color: transparent;
  padding: 1.2rem 2rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
  text-decoration: none;
}

.learn-more {
  display: flex;
  justify-content: center;
}

.services {
  color: #191919;
  padding-top: 8rem;
}

.services h2 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 5.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.services p {
  text-align: center;
  font-size: 2.8rem;
  line-height: 3.64rem;
  letter-spacing: 0.028rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  max-width: 100rem;
}

.services img {
  max-width: 100%;
  height: auto;
  margin-bottom: 4.8rem;
}

.service-image {
  display: flex;
  margin: 0 auto;
}

.service-list {
  display: flex;
}

.service {
  border-top: 0.4rem solid rgba(0, 0, 0, 0.05);
}

.service-list .service:first-child {
  border-top: 0.4rem solid #ffca49;
}

.service h4 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-align: center;
  margin-top: 2.4rem;
}

.service p {
  color: #373737;
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.36rem;
  letter-spacing: 0.024rem;
  margin-top: 1.6rem;
  margin-bottom: 8rem;
}

.find-us-content {
  padding-bottom: 7.35rem;
  background: url(./images/why-pattern-2.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.find-us h2 {
  text-align: center;
  font-size: 5.7rem;
  font-weight: 400;
  line-height: 3.8rem;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 8.15rem;
  margin-bottom: 2.4rem;
}

.find-us h4 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-bottom: 4rem;
}

.find-us a {
  text-align: center;
  font-family: Futura;
  font-size: 2rem;
  line-height: 2rem;
  background-color: transparent;
  padding: 1.2rem 2rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #ffca49;
  border: 1px solid #ffca49;
  margin: 0 auto;
  text-decoration: none;
}

.find-us-button {
  display: flex;
  justify-content: center;
}

.contacts {
  color: #101828;
  padding-top: 8rem;
}

.contacts h2 {
  text-align: center;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.72rem;
  margin-bottom: 2.4rem;
}

.contacts-message {
  color: #373737;
  text-align: center;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.028rem;
  margin-bottom: 4.8rem;
}

.contact-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact img {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
}

img.contact-image {
  margin-bottom: 3.2rem;
}

.contact-method {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
  letter-spacing: 0.026rem;
  margin-bottom: 0.8rem;
}

.contact-message {
  color: #373737;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.026rem;
  margin-bottom: 2rem;
}

.contact-link {
  color: #101828;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-decoration-line: underline;
  margin-bottom: 8.55rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 52.4rem;
  margin: 0 auto;
  margin-bottom: 17.6rem;
}

.socials a img {
  width: 3rem;
  height: 3rem;
}

.footer-content {
  padding-bottom: 4.8rem;
}

.footer-content img {
  width: 15.9999rem;
  height: 7.9182rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.footer-image {
  display: flex;
  margin: 0 auto;
}

.bottom-nav {
  font-family: futura;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  max-width: 65rem;
  margin: 0 auto;
  margin-bottom: 9.7rem;
}

.bottom-nav li a {
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-decoration: unset;
  color: #667085;
  display: flex;
  text-align: center;
  line-height: 2.4rem;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  color: #98a2b3;
  border-top: 0.1rem solid #eaecf0;
  padding-top: 3.3rem;
}

.bottom-footer p {
  font-family: Futura;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.bottom-footer ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1.6rem;
}

.bottom-footer ul li a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-decoration: none;
  color: #98a2b3;
}

/***** Why La Vetia ******/

.why-header {
  background: rgba(0, 0, 0, 1);
}

.why-hero h1 .underline {
  color: #ffca49;
  text-decoration: none;
  border-bottom: none;
}

.why-hero h1 {
  font-size: 5.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5rem;
  max-width: 120rem;
  margin-bottom: 2.4rem;
}



.why-quote {
  color: #eaecf0;
  font-size: 2.5rem;
  line-height: 3.6rem;
  letter-spacing: 0.015rem;
  padding-bottom: 6.4rem;
}

.why-hero img {
  width: 100%;
  height: auto;
  margin-bottom: 9.6rem;
}

.why-main-content {
  background-color: #fff;
  padding-top: 7.9rem;
  background: url(./images/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.why-number {
  color: #191919;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 3.6rem;
  width: 5.6rem;
  padding: 0.7rem 0rem 1.3rem 0rem;
  border-radius: 2.8rem;
}

.why-content-box {
  align-self: unset;
}

.why-content-box h3 {
  font-size: 3.6rem;
  line-height: 3.6rem;
  color: #191919;
  font-weight: 700;
  align-self: unset;
}

.why-content-box p {
  color: #373737;
  line-height: 3.36rem;
  letter-spacing: 0.028rem;
}

h3.why {
  color: #000;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.16rem;
  max-width: 100rem;
  letter-spacing: 0.015rem;
  text-align: center;
  margin: 0 auto;
}

.bold {
  font-weight: 700;
}

/***** About Us ********/

.about-header {
  background: #f9fafb;
  padding-bottom: 9.6rem;
}

.about-top-hero p,
.about-top-nav li a {
  color: #191919;
}

ul.top-nav.about-top-nav {
  margin-bottom: 5.4rem;
}

.about-hero {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 3.2rem;
}

.about-hero h5 {
  color: #101828;
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 5.94rem;
  letter-spacing: -0.108rem;
}

.about-hero p {
  color: #191919;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.12rem;
  letter-spacing: 0.028rem;
  font-style: normal;
}

.about-content {
  background: url(./images/about-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0);
  padding-top: 8.3rem;
  padding-bottom: 8.3rem;
}

.remove-background {
  background: unset;
}

.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.about-us h3 {
  color: #fff;
  text-align: center;
  font-family: Cormorant Garamond;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.16rem;
  letter-spacing: 0.056rem;
  margin: 0 auto;
  max-width: 91.1rem;
  margin-bottom: 8rem;
}

.about-image {
  width: 100%;
  height: auto;
  background-size: cover;
  box-shadow: 6px 5px 14.5px 0px rgba(255, 202, 73, 0.5);
}

.details {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.028rem;
}

.name {
  font-family: Sassy Frass;
  font-size: 8.8rem;
  font-weight: 400;
  line-height: 10.56rem;
  letter-spacing: 0.088rem;
}

.position {
  opacity: 0.89;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.028rem;
}

.journey h3 .black {
  color: black;
}

.journey h3 {
  color: #ffca49;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: -0.056rem;
  margin-bottom: 3.6rem;
  text-align: left;
  margin-left: unset;
}

  

.process h3 .black {
  color: black;
}

.process h3 {
  color: #ffca49;
}

.process h3 .black {
  color: black;
}

.process h3 {
  color: #ffca49;
}

.journey p {
  color: #373737;
  font-family: Cormorant Garamond;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 6.4rem;
}

.process,
h3.process {
  text-align: right;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about li img {
  width: 100%;
  height: auto;
}

/***** Our Services *******/

.service-hero h5 {
  color: #101828;
  text-align: center;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: -0.056rem;
  margin-bottom: 4.4rem;
}

.service-hero-text {
  color: #191919;
  text-align: center;
  font-size: 2.8rem;
  line-height: 3.64rem;
  letter-spacing: 0.028rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.service-box {
  max-width: 77.4rem;
  height: 42.7rem;
  flex-shrink: 0;
  border-radius: 1.6rem;
  background: #ffca49;
  box-shadow: 0px 24px 40px -13px rgba(16, 24, 40, 0.18);
  margin: 0 auto;
  margin-bottom: 6.36rem;
}

.service-line {
  height: 0.4rem;
  background-color: #ffca49;
  margin-bottom: 2.4rem;
}

.service-header {
  color: #191919;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 1.6rem;
}

.service-text {
  color: #373737;
  text-align: center;
  font-size: 2.4rem;
  line-height: 3.12rem;
  letter-spacing: 0.024rem;
  margin-bottom: 8rem;
}

.cancel-margin {
  margin-bottom: 0;
}

@media only screen and (max-width: 880px) {
  .box {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .reverse .content-box:nth-child(1) {
    order: 2;
  }
  .reverse .content-box:nth-child(2) {
    order: 1;
  }

  .content-box {
    margin: 0 auto;
  }

  .service-list {
    flex-direction: column;
  }

  p {
    font-size: 1.4rem;
  }

  .top-nav li a {
    font-size: 1.6rem;
  }

  .tagline {
    font-size: 1.8rem;
  }
  
  .hero h1 {
    font-size: 4rem;
  }
  
  .quote {
    font-size: 1.8rem;
  }
  
  .content h2 {
    font-size: 3.6rem;
  }
  
  .number {
    font-size: 2.6rem;
    margin: 0 auto;
    margin-bottom: 1.8rem;
  }
  
  .content-box h3 {
    font-size: 2.8rem;
    text-align: center;
  }
  
  .content-box p {
    font-size: 2.2rem;
  }
  
  .content h3 {
    font-size: 3rem;
  }
  
  .features h2 {
    font-size: 3rem;
  }
  
  .features p {
    font-size: 2.2rem;
  }
  
  .features a {
    font-size: 1.5rem;
  }
  
  .services h2 {
    font-size: 3rem;
  }
  
  .services p {
    font-size: 2.2rem;
  }
  
  .service h4 {
    font-size: 2.2rem;
  }
  
  .service p {
    font-size: 1.8rem;
  }
  
  .find-us h2 {
    font-size: 2rem;
  }
  
  .find-us h4 {
    font-size: 2rem;
  }
  
  .find-us a {
    font-size: 1.5rem;
  }
  
  .contacts h2 {
    font-size: 3rem;
  }
  
  .contacts-message {
    font-size: 2.2rem;
  }
  
  .contact-method {
    font-size: 2.2rem;
  }
  
  .contact-message {
    font-size: 2.2rem;
  }
  
  .contact-link {
    font-size: 1.5rem;
  }
  
  .bottom-nav li a {
    font-size: 1.4rem;
  }
  
  .bottom-footer p {
    font-size: 1.2rem;
  }
  
  .bottom-footer ul li a {
    font-size: 1.2rem;
  }
  
  .about,
  .about-hero,
  .about-box {
    grid-template-columns: 1fr;
  }
  
  /***** Why La Vetia ******/
  
  .why-hero h1 {
    font-size: 3rem;
  }
  
  .why-quote {
    font-size: 2.2rem;
  }
  
  .why-number {
    font-size: 2.5rem;
  }
  
  .why-content-box h3 {
    font-size: 3rem;
  }
  
  h3.why {
    font-size: 1.8rem;
  }
  
  /***** About Us ********/
  
  .about-hero h5 {
    font-size: 3rem;
  }
  
  .about-hero p {
    font-size: 2rem;
  }
  
  .about-us h3 {
    font-size: 3rem;
  }
  
  .details {
    font-size: 2rem;
  }
  
  .name {
    font-size: 3rem;
  }
  
  .position {
    font-size: 2.4rem;
  }
  
  .journey h3 {
    font-size: 3rem;
  }
  
  .journey p {
    font-size: 2rem;
  }
  
  /***** Our Services *******/
  
  .service-hero h5 {
    font-size: 2.5rem;
  }
  
  .service-hero-text {
    font-size: 2rem;
  }
  
  .service-header {
    font-size: 2.5rem;
  }
  
  .service-text {
    font-size: 1.5rem;
  }
  
@media only screen and (max-width: 655px) {
  .top-hero {
    margin-top: 2.2rem;
    text-align: center;
  }
}
